<div class="registration">
    <h2>РЕГИСТРАЦИЯ</h2>

    <form ng-submit="$ctrl.onRegister()">

        <div>
            <input type="text" id="login" ng-model="$ctrl.login" placeholder="E-MAIL" required/>
        </div>

        <div>
            <input type="password" id="password" ng-model="$ctrl.password" placeholder="ПАРОЛЬ" required/>
        </div>

        <div>
            <input type="password" id="passwordConfirm" ng-model="$ctrl.passwordConfirm" placeholder="ПОВТОРИТЕ ПАРОЛЬ" required/>
        </div>

        <div>
            <button type="submit">РЕГИСТРАЦИЯ</button>
        </div>

    </form>
</div>