.heart {
    color: red;
    animation: blinker 1s linear infinite;
    margin: auto;
}

@keyframes blinker {
    50% { opacity: 0.2; }
}

.pulse {
    font-size: 80px;
    text-align: center;
}

.my-state-form{
    margin: 50px auto;
    width: 80%;
}

@keyframes heartbeat
{
    0%
    {
        transform: scale( .85 );
    }
    30%
    {
        transform: scale( 1 );
    }
    90%
    {
        transform: scale( .85 );
    }
    100%
    {
        transform: scale( .85 );
    }
}

.heart {
    animation: heartbeat 0.7s infinite;
    background: url("/images/heart.svg") 0 0 no-repeat;
    height: 60px;
    width: 60px;
}

.text-pulse {
    font: 50px Roboto;
    text-align: center;
}