<div class="my-state-form">

    <div class="connect-error" ng-show="!$ctrl.isTraining">
        <div id="rectangle">  <span class="p-style" >Тренировка не началась</span></div>
    </div>

    <div ng-show="$ctrl.isTraining">
        <div class="heart-container">
            <svg class="heart" width="315" height="288" heartbeat-animation-duration="{{$ctrl.pulse}}">
                <image xlink:href="/images/heart.svg" width="315" height="288"/>
            </svg>
        </div>

        <div class="text-pulse">
            <span>{{$ctrl.pulse}} bpm</span>
            <!--<p>{{'training_state' | translate}}</p>-->
        </div>
    </div>

</div>

