.heart {
    //font-size: 100px;
    color: red;
    animation: blinker 1s linear infinite;
    margin: auto;
}

@keyframes blinker {
    50% { opacity: 0.2; }
}

.pulse {
    font-size: 80px;
    text-align: center;
}

.my-state-form{
    margin: 50px auto;
    width: 80%;
}