<div class="layout">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">СЕРВИС</a>
            </div>

            <div class="navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right" ng-show="isAuthorized()">
                    <li>
                        <button type="button" class="btn btn-default navbar-btn" ng-click="quit()">Выход</button>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div ui-view></div>
</div>
